.is-user-editor #adminmenu li.wp-menu-separator {
    display: none;
}
.is-user-editor .toplevel_page_woocommerce,
.is-user-editor .toplevel_page_woocommerce-marketing,
.is-user-editor #adminmenu a[href="admin.php?page=wc-admin&amp;path=%2Fextensions"] {
    display: none;
}
.notice.woo-permalink-manager-banner {
    display:none;
}
#woocommerce-embedded-root #woocommerce-activity-panel {
    display:none
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--users_list {
    margin-bottom: 10px;
}


#woocommerce-product-data.postbox {

}

#woocommerce-product-data.postbox #general_product_data > .options_group.show_if_external:first-child,
#woocommerce-product-data.postbox #general_product_data > .options_group.pricing .sale_price_dates_fields,
#woocommerce-product-data.postbox .options_group p.form-field.show_if_simple.show_if_variable,
#woocommerce-product-data.postbox .options_group .form-field._global_unique_id_field,
#woocommerce-product-data.postbox .options_group .inventory_sold_individually.options_group,
#woocommerce-product-data.postbox #inventory_product_data .inventory_sold_individually.options_group,
#woocommerce-product-data.postbox .shipping_options.shipping_tab,
#woocommerce-product-data.postbox .linked_product_options.linked_product_tab,
#woocommerce-product-data.postbox .advanced_options.advanced_tab,
#woocommerce-product-data.postbox .sale_schedule,
#woocommerce-product-data.postbox .postbox-header .ui-sortable-handle .product-data-wrapper {
    display: none!important;
}
#woocommerce-product-data.postbox #general_product_data > .options_group.pricing.show_if_simple.show_if_external.hidden:nth-child(2) {
    display:block!important
}



ul#product_catchecklist {
    flex-direction: column;
    display: flex;
}
li#product_cat-17 {
    order: -1;
}
li#product_cat-17 .children{
    flex-direction: column;
    display: flex;
}
li#product_cat-17 .children #product_cat-4361{
    order: -1;
}
#woocommerce-embedded-root .woocommerce-layout__header {
    position: absolute;
    width: 100%;
    top: 0;
}
@media (max-width: 782px) {
    #woocommerce-embedded-root .woocommerce-layout__header {
        top: 0;
    }
}

body.is-user-editor .yoast-notification{
    display: none;
}

.admin__main-ul a {
    font-size: 18px;
}
.wc-order-totals td.label.label-highlight {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: 0;
}
#wpadminbar .quicklinks #wp-admin-bar-woocommerce-site-visibility-badge.woocommerce-site-status-badge-live a.ab-item {
    display: none;
}
li#wp-admin-bar-woocommerce-site-visibility-badge {
    display: none;
}
.order_data_column .none_set {
    display: none;
}

.acf-field__message__h2 {
    font-size: 20px!important;
    font-weight: 600!important;
    background: #f0f0f1;
}

.role-editor__adminbar__item__icon {
    line-height: 0 !important;
    position: relative;
    padding-left: 20px !important;
}
.role-editor__adminbar__item__icon svg {
    top: 50%;
    margin-right: 5px !important;
    transform: scaleX(-1) translateY(-50%);
    line-height: 0 !important;
    position: absolute !important;
    left: 0;
}

.acf-admin-notice.notice.acf-escaped-html-notice.is-dismissible.notice-warning.acf-will-escape {
    display: none;
}
.acf-admin-notice.notice.acf-escaped-html-notice.notice-warning.acf-will-escape {
    display:none;
}

#adminmenu div.separator{
    width: 86%;
    margin: 10px auto 0px;
    background-color: #9ca2a7;
    height: 1px;
}
.wp-block.wp-block-acf-menu-header {
    overflow: hidden!important;
}

.wp-admin .main-banner.menu-under-header {
    margin-bottom: 0!important;
}
body.wp-admin .main-banner.menu-under-header {
    display: block;
}
#adminmenu div.wp-menu-name {
    padding: 8px 3px 8px 36px;
}

/* Main column width */

.wp-block {
    max-width: 1120px;
    margin-bottom: 50px;
}
.toplevel_page_settings .acf-tab-wrap {
    overflow: visible;
}
.iris-picker .iris-square {
    margin-right: 0%!important;
}
.iris-picker .iris-strip {
    max-height: 182px;
}

.acf-field .acf-label {
    margin: 0 0 7px;
}

.acf-block-body .acf-fields > .acf-field {
    padding: 11px 15px!important;
    padding-bottom: 8px !important;
}
.acf-block-component > div > .acf-fields > .acf-field {
    padding-bottom: 8px !important;
}


.acf-block-body .acf-fields > .acf-field .acf-field-link {
    padding: 6px 10px;
}
.acf-link .link-wrap {
    padding: 2px;
 }
.acf-button.acf-repeater-add-row {
    padding: 4px 20px;
    font-size: 16px;
}
.wp-block-post-content  .wp-block[data-type^=acf] .acf-block-fields.acf-fields,
.wp-block-post-content  .wp-block[data-type^=acf] {
    overflow: auto;
    zoom: 1;
}

/*=== ACF blocks (preview)===*/
/*content*/
.wp-block-post-content .wp-block[data-type^=acf]:before {
    content: attr(aria-label);
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    z-index: 2;
}
.wp-block-post-content .wp-block .acf-block-preview,
.wp-block-post-content .wp-block .acf-block-fields.acf-fields {
    padding-top: 65px;
}
.wp-block-post-content .wp-block .acf-block-component .acf-block-fields {
    position: relative;
}
.wp-block-post-content .wp-block .acf-block-component .acf-block-fields:before {
    content: '';
    width: calc(100% - 2px);
    left: 1px;
    height: 66px;
    background-color: #f1f1f1;
    position: absolute;
    top: 1px;
    z-index: 1;
    background: linear-gradient(90deg, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 60%, rgba(0, 0, 0, 0) 88%, rgba(0, 0, 0, 0) 100%);
}
.wp-block-post-content .wp-block .acf-block-component .acf-block-fields:after {
    content: '';
    width: 140px;
    height: 61px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    z-index: 2;
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    transition: 0.15s;
}
/*btn*/
.block-editor-block-types-list__item .block-editor-block-types-list__item-icon {
    position: relative;
}
.block-editor-block-types-list__item .block-editor-block-types-list__item-icon:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom:0px;
    z-index: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.15s;
    background-color: #fff;
}
[aria-label="KOMETATEK Blocks"] .block-editor-block-types-list__item .block-editor-block-types-list__item-icon:before {
    border: 1px solid #e95b1e73;
}
.wp-block-acf-flex-partners .acf-gallery,
.wp-block-acf-flex-col-3 .acf-gallery,
.wp-block-acf-slider-images-5 .acf-gallery  {
    height: 300px!important;
}

/*=== ACF blocks (preview url)===*/
.editor-block-list-item-acf-main-banner .block-editor-block-types-list__item-icon:before,
.wp-block-acf-main-banner .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/main-banner.jpg);
}

.editor-block-list-item-acf-menu-header .block-editor-block-types-list__item-icon:before,
.wp-block-acf-menu-header .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/menu-header.jpg);
}
.wp-block-acf-menu-header .acf-block-component .acf-block-fields:after {
     width: 280px!important;
}

.editor-block-list-item-acf-main-info .block-editor-block-types-list__item-icon:before,
.wp-block-acf-main-info .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/main-info.jpg);
}

.editor-block-list-item-acf-advantages-cards .block-editor-block-types-list__item-icon:before,
.wp-block-acf-advantages-cards .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/advantages-cards.jpg);
}

.editor-block-list-item-acf-iframe-full-video .block-editor-block-types-list__item-icon:before,
.wp-block-acf-iframe-full-video .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/iframe-full-video.jpg);
}

.editor-block-list-item-acf-flex-partners .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-partners .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-partners.jpg);
}

.editor-block-list-item-acf-slider-images-5 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-slider-images-5 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/slider-images-5.jpg);
}

.editor-block-list-item-acf-flex-col-3 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-col-3 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-col-3.jpg);
}

.editor-block-list-item-acf-review-slider .block-editor-block-types-list__item-icon:before,
.wp-block-acf-review-slider .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/review-slider.jpg);
}

.editor-block-list-item-acf-blog-slider .block-editor-block-types-list__item-icon:before,
.wp-block-acf-blog-slider .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/blog-slider.jpg);
}
.wp-block-acf-blog-slider .acf-block-fields {
    min-height: 155px;
}

.editor-block-list-item-acf-contact-form-1 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-contact-form-1 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/contact-form-1-1.jpg);
}

.editor-block-list-item-acf-contacts-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-contacts-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/contacts-block.jpg);
}
.editor-block-list-item-acf-contacts-flex .block-editor-block-types-list__item-icon:before,
.wp-block-acf-contacts-flex .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/contacts-flex.jpg);
}
.wp-block-acf-benefit-cards .acf-block-component .acf-block-fields:after {
    width: 280px!important;
}
.wp-block-acf-benefit-links .acf-block-component .acf-block-fields:after {
    width: 280px!important;
}
.editor-block-list-item-acf-benefit-cards .block-editor-block-types-list__item-icon:before,
.wp-block-acf-benefit-cards .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/benefit-cards.jpg);
}
.editor-block-list-item-acf-benefit-links .block-editor-block-types-list__item-icon:before,
.wp-block-acf-benefit-links .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/benefit-links.jpg);
}

.editor-block-list-item-acf-contact-form-2 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-contact-form-2 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/contact-form-2-1.jpg);
}

.editor-block-list-item-acf-flex-orange-col-3 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-orange-col-3 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-orange-col-3.jpg);
}
.editor-block-list-item-acf-flex-orange-col-2 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-orange-col-2 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-orange-col-2.jpg);
}
.editor-block-list-item-acf-aspect-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-aspect-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/aspect-block.jpg);
}
.editor-block-list-item-acf-price-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-price-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/price-block.jpg);
}
.editor-block-list-item-acf-flex-ver-blocks .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-ver-blocks .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-ver-blocks.jpg);
}
.editor-block-list-item-acf-slider-logos .block-editor-block-types-list__item-icon:before,
.wp-block-acf-slider-logos .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/slider-logos.jpg);
}
.editor-block-list-item-acf-block-text-slider .block-editor-block-types-list__item-icon:before,
.wp-block-acf-block-text-slider .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/block-text-slider.jpg);
}
.editor-block-list-item-acf-info-block-1 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-1 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-1.jpg);
}
.editor-block-list-item-acf-info-block-2 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-2 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-2.jpg);
}
.editor-block-list-item-acf-info-block-3 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-3 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-3.jpg);
}
.editor-block-list-item-acf-info-block-3--col-3 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-3--col-3 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-3--col-3.jpg);
}
.editor-block-list-item-acf-info-block-4 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-4 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-4.jpg);
}
.editor-block-list-item-acf-info-block-5 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-5 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-5.jpg);
}
.editor-block-list-item-acf-info-block-6 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-6 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-6.jpg);
}
.editor-block-list-item-acf-info-block-7 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-7 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-7.jpg);
}
.editor-block-list-item-acf-info-block-8 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-8 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-8.jpg);
}
.editor-block-list-item-acf-info-block-9 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-9 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-9.jpg);
}
.editor-block-list-item-acf-info-block-10 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-info-block-10 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/info-block-10.jpg);
}
.editor-block-list-item-acf-before-after-cards .block-editor-block-types-list__item-icon:before,
.wp-block-acf-before-after-cards .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/before-after-cards.jpg);
}
.editor-block-list-item-acf-checkboxes-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-checkboxes-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/checkboxes-block.jpg);
}
.editor-block-list-item-acf-advantages-block-1 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-advantages-block-1 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/advantages-block-1.jpg);
}
.editor-block-list-item-acf-faq-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-faq-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/faq-block.jpg);
}
.editor-block-list-item-acf-main-wrap .block-editor-block-types-list__item-icon:before,
.wp-block-acf-main-wrap .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/main-wrap.jpg);
}
.editor-block-list-item-acf-flex-ver-desc .block-editor-block-types-list__item-icon:before,
.wp-block-acf-flex-ver-desc .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/flex-ver-desc.jpg);
}
.editor-block-list-item-acf-price-table--2-col .block-editor-block-types-list__item-icon:before,
.wp-block-acf-price-table--2-col .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/price-table--2-col.jpg);
}
.editor-block-list-item-acf-price-table--site .block-editor-block-types-list__item-icon:before,
.wp-block-acf-price-table--site .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/price-table--site.jpg);
}
.editor-block-list-item-acf-price-table--4-col .block-editor-block-types-list__item-icon:before,
.wp-block-acf-price-table--4-col .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/price-table--4-col.jpg);
}
.editor-block-list-item-acf-banner-1 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-banner-1 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/banner-1.jpg);
}

.editor-block-list-item-acf-banner-2 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-banner-2 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/banner-2.jpg);
}
.editor-block-list-item-acf-banner-3 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-banner-3 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/banner-3.jpg);
}
.editor-block-list-item-acf-banner-4 .block-editor-block-types-list__item-icon:before,
.wp-block-acf-banner-4 .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/banner-4.jpg);
}
.editor-block-list-item-acf-catalog-with-filter .block-editor-block-types-list__item-icon:before,
.wp-block-acf-catalog-with-filter .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/catalog-with-filter.jpg);
}
.editor-block-list-item-acf-catalog-tax .block-editor-block-types-list__item-icon:before,
.wp-block-acf-catalog-tax .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/catalog-tax.jpg);
}
.editor-block-list-item-acf-catalog-arenda .block-editor-block-types-list__item-icon:before,
.wp-block-acf-catalog-arenda .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/catalog-arenda.jpg);
}
.editor-block-list-item-acf-map-gallery .block-editor-block-types-list__item-icon:before,
.wp-block-acf-map-gallery .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/map-gallery.jpg);
}
.editor-block-list-item-acf-accordion-block .block-editor-block-types-list__item-icon:before,
.wp-block-acf-accordion-block .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/accordion-price.jpg);
}

.editor-block-list-item-acf-api-prodazha-cat .block-editor-block-types-list__item-icon:before,
.wp-block-acf-api-prodazha-cat .acf-block-component .acf-block-fields:after {
    background-image: url(../template-parts/preview/api-prodazha-cat.jpg);
}

/*=== ACF option ===*/
[data-name="option_mail"],
[data-name="option_tel3_num"],
[data-name="option_tel2_num"],
[data-name="option_tel1_num"] {
    padding-left: 90px!important;
}
[data-name="option_mail"]:before,
[data-name="option_tel2_num"]:before,
[data-name="option_tel1_num"]:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

[data-name="option_tel1_num"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='25' fill='%23FAF0EB'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.4416 13.5883C24.5619 12.8772 25.2359 12.3982 25.9471 12.5185C28.7062 12.9853 31.2202 14.2919 33.2133 16.2751L33.2147 16.2765C35.2097 18.2673 36.5136 20.7781 36.9813 23.5317C37.1021 24.2428 36.6236 24.9171 35.9125 25.0379C35.2015 25.1587 34.5271 24.6802 34.4063 23.9691C34.0304 21.7562 32.9849 19.7373 31.3702 18.1258C29.7536 16.5176 27.7289 15.469 25.5114 15.0938C24.8002 14.9735 24.3213 14.2995 24.4416 13.5883ZM16.6834 16.7007C16.9543 16.9572 17.2205 17.2275 17.5134 17.5294C17.6004 17.619 17.6884 17.7083 17.7726 17.7936C17.8579 17.8801 17.94 17.9633 18.0213 18.047C18.026 18.0518 18.0307 18.0566 18.0355 18.0613L19.395 19.418C19.3688 19.4444 19.3437 19.4697 19.3194 19.4943C19.2256 19.589 19.1432 19.6723 19.0504 19.7617C19.0412 19.7705 19.0322 19.7795 19.0232 19.7886C18.9574 19.856 18.9117 19.9027 18.8777 19.9376C18.8552 19.9607 18.8377 19.9786 18.8228 19.9938C18.8107 20.0036 18.7971 20.0146 18.7819 20.0273C18.726 20.0738 18.6492 20.1401 18.531 20.2458C18.5098 20.2639 18.4579 20.3083 18.3965 20.3779C18.0016 20.7917 17.7822 21.2677 17.7247 21.7634C17.6689 22.2443 17.779 22.6422 17.8463 22.8548C17.8484 22.8614 17.8505 22.868 17.8527 22.8746L17.8687 22.9225C17.8784 22.9514 17.889 22.9799 17.9006 23.008C18.339 24.0678 18.9459 25.0351 19.8071 26.1263C19.8206 26.1434 19.8344 26.1601 19.8487 26.1764C21.3912 28.0673 23.0408 29.5705 24.8821 30.7327C25.1574 30.9068 25.4317 31.0436 25.6357 31.1454L25.6533 31.1542C25.8596 31.2571 25.9835 31.3201 26.0774 31.3783C26.092 31.3873 26.1068 31.3961 26.1217 31.4045C26.1289 31.409 26.1379 31.4144 26.1474 31.4201C26.1688 31.4327 26.2032 31.4525 26.2461 31.4739C26.5842 31.6426 26.9535 31.7446 27.3578 31.7446C28.3449 31.7446 28.9499 31.1378 29.0834 31.0039C29.0865 31.0008 29.0894 30.9979 29.092 30.9953L30.0093 30.0799L32.6739 32.7391C32.6731 32.7435 32.6722 32.7481 32.6713 32.7529C32.662 32.8011 32.6491 32.8502 32.6348 32.8963C32.6284 32.9027 32.6218 32.9093 32.615 32.9159C32.4818 33.0478 32.3004 33.228 32.1082 33.4209C31.7579 33.7723 31.3157 34.2212 31.0984 34.4711C30.8221 34.7594 30.5386 34.8881 30.06 34.8881C29.9713 34.8881 29.9302 34.8876 29.9011 34.8856L29.8976 34.8854C28.5745 34.8009 27.2902 34.2777 26.2145 33.7645C23.3636 32.3867 20.8575 30.4307 18.7694 27.9439C17.0235 25.8435 15.8914 23.9453 15.1467 21.9374L15.1454 21.9337C14.6905 20.7185 14.5668 19.8852 14.6255 19.1647C14.653 18.8489 14.7595 18.6206 14.9836 18.397L16.6834 16.7007ZM33.75 33.6307L34.9253 34.2C34.86 34.3349 34.772 34.4574 34.6651 34.5624L34.608 34.6187C34.571 34.6551 34.5176 34.7078 34.4524 34.7723C34.3219 34.9014 34.1449 35.0773 33.958 35.2648C33.5641 35.66 33.1868 36.0469 33.0624 36.1931C33.0489 36.209 33.035 36.2245 33.0208 36.2397C32.2237 37.0903 31.238 37.5 30.06 37.5L30.0488 37.5C29.9759 37.5 29.8536 37.5001 29.7298 37.4919C27.8826 37.3737 26.2208 36.6616 25.0866 36.1203L25.081 36.1176C21.889 34.5755 19.0886 32.3866 16.7669 29.6208L16.7629 29.616C14.8684 27.3374 13.5662 25.1866 12.6985 22.8474C12.161 21.4109 11.9217 20.1774 12.0226 18.9485L12.023 18.944C12.1026 18.0139 12.4767 17.2088 13.1386 16.5482L14.9596 14.731C14.9693 14.7213 14.9792 14.7117 14.9892 14.7023C15.4006 14.317 15.9818 13.9711 16.6938 13.9711C17.5533 13.9711 18.1435 14.4737 18.3959 14.7257L18.3966 14.7263C18.7413 15.0486 19.0647 15.3774 19.3877 15.7103M33.75 33.6307C34.9253 34.2 34.9253 34.2 34.9253 34.2L34.9267 34.1971L34.9283 34.1938L34.9322 34.1857C34.935 34.1797 34.9383 34.1726 34.9421 34.1644C34.9497 34.1479 34.9592 34.1269 34.9701 34.1017C34.9919 34.0516 35.0199 33.9841 35.0502 33.9027C35.1094 33.7439 35.1845 33.5142 35.2358 33.2482C35.3189 32.8183 35.4347 31.7996 34.6654 31.0365L34.6626 31.0338L31.7319 28.109C31.4585 27.8175 30.8709 27.3206 30.0226 27.3206C29.145 27.3206 28.5341 27.862 28.2938 28.1019L27.3166 29.077C27.1499 28.9818 26.9798 28.897 26.8422 28.8284L26.8195 28.817C26.5982 28.7066 26.4323 28.6227 26.278 28.525L26.2766 28.5241C24.6994 27.5288 23.2488 26.2173 21.8507 24.4985C21.8448 24.4913 21.8389 24.4841 21.8329 24.477C21.1198 23.57 20.6733 22.8446 20.359 22.1156C20.4086 22.0721 20.4363 22.0485 20.4507 22.0365C20.4598 22.029 20.4628 22.0267 20.4628 22.0267C20.4673 22.0232 20.4626 22.0269 20.4731 22.0187C20.4795 22.0138 20.4933 22.003 20.5096 21.9896C20.5819 21.9304 20.6402 21.871 20.6715 21.8391C20.6733 21.8372 20.6751 21.8355 20.6767 21.8338C20.6937 21.8165 20.7181 21.7914 20.75 21.7588C20.7839 21.724 20.8263 21.6806 20.877 21.6287C20.9866 21.5227 21.1018 21.4064 21.2047 21.3026C21.2525 21.2543 21.2977 21.2088 21.3383 21.1682C21.7454 20.762 22.1463 20.1768 22.1463 19.4178C22.1463 18.6588 21.7454 18.0736 21.3383 17.6674L19.8875 16.2195C19.8017 16.1313 19.7165 16.0449 19.6356 15.9629L19.632 15.9593C19.5467 15.8728 19.4661 15.7911 19.3877 15.7103M24.2276 18.1681C24.3468 17.4567 25.0201 16.9767 25.7315 17.0959C27.4035 17.3762 28.92 18.1671 30.1228 19.3674C31.3279 20.5701 32.1127 22.0837 32.399 23.7474C32.5214 24.4582 32.0443 25.1336 31.3335 25.256C30.6227 25.3783 29.9473 24.9012 29.825 24.1904C29.6307 23.0616 29.1018 22.0386 28.2778 21.2162C27.4513 20.3914 26.4259 19.8607 25.2997 19.6719C24.5884 19.5527 24.1084 18.8794 24.2276 18.1681Z' fill='%2399807A'%3E%3C/path%3E%3C/svg%3E");
}
[data-name="option_tel2_num"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='25' fill='%23FAF0EB'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.4397 12.4101C20.4397 11.6313 21.0709 11 21.8495 11H28.1432C28.9218 11 29.553 11.6313 29.553 12.4101C29.553 13.1888 28.9218 13.8201 28.1432 13.8201H21.8495C21.0709 13.8201 20.4397 13.1888 20.4397 12.4101ZM33.441 13.3013C33.9915 12.7506 34.8842 12.7506 35.4347 13.3013L38.5871 16.4543C39.1376 17.0049 39.1376 17.8977 38.5871 18.4484C38.0365 18.9991 37.1439 18.9991 36.5933 18.4484L33.441 15.2955C32.8904 14.7448 32.8904 13.852 33.441 13.3013ZM16.559 13.9253C17.1096 14.476 17.1096 15.3688 16.559 15.9195L13.4067 19.0724C12.8561 19.6231 11.9635 19.6231 11.4129 19.0724C10.8624 18.5218 10.8624 17.629 11.4129 17.0783L14.5653 13.9253C15.1158 13.3747 16.0085 13.3747 16.559 13.9253ZM24.9963 17.4173C19.877 17.4173 15.7068 21.6063 15.7068 26.7986C15.7068 31.9909 19.877 36.1799 24.9963 36.1799C30.1157 36.1799 34.2859 31.9909 34.2859 26.7986C34.2859 21.6063 30.1157 17.4173 24.9963 17.4173ZM12.8872 26.7986C12.8872 20.071 18.2975 14.5971 24.9963 14.5971C31.6951 14.5971 37.1055 20.071 37.1055 26.7986C37.1055 33.5261 31.6951 39 24.9963 39C18.2976 39 12.8872 33.5261 12.8872 26.7986ZM21.1562 20.9403C21.7899 20.4878 22.6703 20.6348 23.1227 21.2686L25.9519 25.2321H30.2831C31.0617 25.2321 31.6929 25.8634 31.6929 26.6422C31.6929 27.4209 31.0617 28.0522 30.2831 28.0522H25.2262C24.7708 28.0522 24.3434 27.8322 24.0788 27.4615L20.828 22.9072C20.3756 22.2734 20.5225 21.3928 21.1562 20.9403Z' fill='%2399807A'%3E%3C/path%3E%3C/svg%3E");
}
[data-name="option_mail"]:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='25' fill='%23FAF0EB'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.4397 12.4101C20.4397 11.6313 21.0709 11 21.8495 11H28.1432C28.9218 11 29.553 11.6313 29.553 12.4101C29.553 13.1888 28.9218 13.8201 28.1432 13.8201H21.8495C21.0709 13.8201 20.4397 13.1888 20.4397 12.4101ZM33.441 13.3013C33.9915 12.7506 34.8842 12.7506 35.4347 13.3013L38.5871 16.4543C39.1376 17.0049 39.1376 17.8977 38.5871 18.4484C38.0365 18.9991 37.1439 18.9991 36.5933 18.4484L33.441 15.2955C32.8904 14.7448 32.8904 13.852 33.441 13.3013ZM16.559 13.9253C17.1096 14.476 17.1096 15.3688 16.559 15.9195L13.4067 19.0724C12.8561 19.6231 11.9635 19.6231 11.4129 19.0724C10.8624 18.5218 10.8624 17.629 11.4129 17.0783L14.5653 13.9253C15.1158 13.3747 16.0085 13.3747 16.559 13.9253ZM24.9963 17.4173C19.877 17.4173 15.7068 21.6063 15.7068 26.7986C15.7068 31.9909 19.877 36.1799 24.9963 36.1799C30.1157 36.1799 34.2859 31.9909 34.2859 26.7986C34.2859 21.6063 30.1157 17.4173 24.9963 17.4173ZM12.8872 26.7986C12.8872 20.071 18.2975 14.5971 24.9963 14.5971C31.6951 14.5971 37.1055 20.071 37.1055 26.7986C37.1055 33.5261 31.6951 39 24.9963 39C18.2976 39 12.8872 33.5261 12.8872 26.7986ZM21.1562 20.9403C21.7899 20.4878 22.6703 20.6348 23.1227 21.2686L25.9519 25.2321H30.2831C31.0617 25.2321 31.6929 25.8634 31.6929 26.6422C31.6929 27.4209 31.0617 28.0522 30.2831 28.0522H25.2262C24.7708 28.0522 24.3434 27.8322 24.0788 27.4615L20.828 22.9072C20.3756 22.2734 20.5225 21.3928 21.1562 20.9403Z' fill='%2399807A'%3E%3C/path%3E%3C/svg%3E");background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='25' fill='%23FAF0EB'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.2886 12.0358C24.7073 11.7758 25.2273 11.7636 25.6569 12.0037L36.0652 17.8211C36.9321 18.3056 37.5 19.239 37.5 20.2856V30.9741C37.5 33.3462 35.5816 35.1685 33.3375 35.1685H16.6626C14.4184 35.1685 12.5 33.3462 12.5 30.9741C12.5 30.9741 12.5 30.9741 12.5 30.9741V20.9337C12.5 19.9354 13.0176 19.0353 13.8251 18.5338L24.2886 12.0358ZM15.2668 30.9741C15.2668 30.9741 15.2668 30.9741 15.2668 30.9741C15.2668 31.6522 15.8369 32.3026 16.6626 32.3026H33.3375C34.1631 32.3026 34.7332 31.6522 34.7332 30.9741V22.9245L25.7534 28.9642C25.3027 29.2673 24.7233 29.2727 24.2674 28.9779L25 27.7624C24.2674 28.9779 24.2675 28.978 24.2674 28.9779L24.1496 28.9019C24.0725 28.852 23.9591 28.7789 23.8145 28.6858C23.5254 28.4996 23.1116 28.2334 22.6132 27.9139C21.6162 27.2748 20.282 26.4233 18.9312 25.5723C17.623 24.7481 16.3062 23.9287 15.2668 23.3038V30.9741ZM16.074 20.4788L25.036 14.9132L34.0628 19.9584L24.9842 26.0645C24.7303 25.9011 24.4207 25.7022 24.0692 25.4769C23.0687 24.8356 21.728 23.9799 20.369 23.1238C19.0119 22.2687 17.6293 21.4086 16.5477 20.7603C16.3835 20.662 16.2252 20.5678 16.074 20.4788Z' fill='%2399807A'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 20.9337V30.9741C12.5 33.3462 14.4184 35.1685 16.6626 35.1685H33.3375C35.5816 35.1685 37.5 33.3462 37.5 30.9741V20.2856C37.5 19.239 36.9321 18.3056 36.0652 17.8211L25.6569 12.0037C25.2273 11.7636 24.7073 11.7758 24.2886 12.0358L13.8251 18.5338C13.0176 19.0353 12.5 19.9354 12.5 20.9337ZM25.036 14.9132L16.074 20.4788C16.2252 20.5678 16.3835 20.662 16.5477 20.7603C17.6293 21.4086 19.0119 22.2687 20.369 23.1238C21.728 23.9799 23.0687 24.8356 24.0692 25.4769C24.4207 25.7022 24.7303 25.9011 24.9842 26.0645L34.0628 19.9584L25.036 14.9132ZM16.6626 32.3026C15.8369 32.3026 15.2668 31.6522 15.2668 30.9741V23.3038C16.3062 23.9287 17.623 24.7481 18.9312 25.5723C20.282 26.4233 21.6162 27.2748 22.6132 27.9139C23.1116 28.2334 23.5254 28.4996 23.8145 28.6858L24.1496 28.9019L24.2674 28.9779C24.7233 29.2727 25.3027 29.2673 25.7534 28.9642L34.7332 22.9245V30.9741C34.7332 31.6522 34.1631 32.3026 33.3375 32.3026H16.6626Z' fill='%2399807A'%3E%3C/path%3E%3C/svg%3E");
}

[data-name="product_arenda_gallery"] .acf-gallery {
    max-height: 270px;
}


/*=== API UPDATE ===*/
.api-update__panel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    margin-bottom: 10px;
}

.api-update__panel__num {
    width: auto;
    margin-right: 5px;
    height: 34px;
    font-size: 23px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.api-update__panel__btn {
    min-height: 35px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    min-width: 150px;
    text-align: center;
}

.icon-preloader {
    width: 25px;
    height: 25px;
    border: 3px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.api-update__panel__indicator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    line-height: 0;
}
.icon-done {
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.8029 8.66591C19.3333 8.14551 19.3309 7.30416 18.7975 6.78669C18.2641 6.26922 17.4018 6.27159 16.8714 6.79198L9.13087 14.3868L7.12891 12.4225C6.59853 11.9021 5.73618 11.8997 5.2028 12.4172C4.66942 12.9347 4.66699 13.776 5.19737 14.2964L8.1651 17.2083C8.42074 17.4591 8.76833 17.6001 9.13087 17.6001C9.49342 17.6001 9.84101 17.4591 10.0966 17.2083L18.8029 8.66591Z" fill="green" /></svg>');
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}


.api-cat-main-item__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 3px 0;
}

.child.api-cat-item {
    width: fit-content;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 4px;
}


/*.api-update__info */
.api-update__info {

    margin-top: 20px;
    padding-top: 20px;
}
.api-update__info__main {
    border: 2px solid #000;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
.api-update__info__main__head {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.api-update__info__btn {
    min-height: 30px;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    min-width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.api-update__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}




.api-cat-item.item-update {
    position: relative;
    cursor: pointer;
    max-width: 1100px;
    word-break: break-all;
}
.api-cat-item.item-update:hover {
    box-shadow: 0 0 1px 0 #000;
}
.api-cat-item.item-update:before {
    pointer-events: none;
}
.api-cat-item.item-update:hover:before {
    content: 'Обновить';
    position: absolute;
    right: -63px;
    top: 0px;
}
.item-update.is-error:before {
    content: 'Повторите обновление';
    position: absolute;
    right: -144px;
    top: 0px;
    color: red;
}
.api-cat-item.item-update.active:before {
    content: 'Обновление';
    position: absolute;
    right: -78px;
    top: 0px;
    animation: blink 1s infinite;
}
.item-update.is-error:before {
    color: red;
}
.product-item.is-error {
    color: red;
}
.api-cat-item.is-error {
    color: red;
}
.api-update__info__message {
    line-height: 14px;
    color: red;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

.text-is-opacity {
    animation: blink 1s infinite;
    color: #000;
    padding-top: 6px;
}
.is-done {
    color: green;
}





/*.custom-discount__edit*/
.custom-discount__edit .form-table tbody {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.custom-discount__edit .form-table tbody tr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.custom-discount__edit .form-table tbody tr td {
    padding: 0;
}

.custom-discount__edit__table__id {
    width: 40px;
}
.custom-discount__edit__table__id td {
    position: relative;
    top: 6px;
    left: 2px;
    font-weight: 600;
}
.custom-discount__add .btn-submit,
.custom-discount__edit .btn-submit {
    font-weight: 400;
    width: 180px;
    height: 40px;
    font-size: 16px !important;
}

.custom-discount__edit #discount_category {
    width: 200px;
}
.custom-discount__edit #discount_tag {
    width: 200px;
}
.custom-discount__edit .custom-discount__row-submit {
    margin-top: auto;
    padding-bottom: 0;
}

.custom-discount {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 30px;
}
.custom-discount .form-table {

}
.kp>a {
    font-size: 14px;
    margin-right: 20px;
    border: 1px solid #eb6025;
    padding: 6px 16px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    margin-bottom: 10px;
}
.kp_pdf::after {
    content: '';
    width: 26px;
    height: 25px;
    background: url(/wp-content/themes/bober/ico/pdf.png);
    display: inline-block;
    background-size: contain;
    margin: 0px 0 0 0;
    position: absolute;
    top: 6px;
    right: 6px;
}
.kp>.kp_pdf {
    padding: 6px 40px 6px 16px;
    position: relative;
	border: 1px solid #ef5541;
}
.kp>.kp_wa {
    border-color: #00c02a;
}
.submit_kp {
    display: flex;
    border: 1px solid #ccc;
    width: 280px;
}

input[type="email"] {}

.submit_kp>* {
    margin: 0;
    border-radius: 0;
    border: none!important;
    outline: none;
}

.submit_kp [type=email] {
    width: 70%;
}

.submit_kp__btn:hover,
.submit_kp__btn {
    width: 30%;
    background: #eb6025;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
}

/*.custom-produkcziya */
.custom-produkcziya {
    padding-right: 30px;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 782px) {
    .custom-produkcziya {
        padding-right: 10px;
    }
}
h1.custom-produkcziya__title-h1 {
    margin-bottom: 30px;
}
.custom-produkcziya .row-title {
    font-size: 16px !important;
}
.custom-produkcziya__title-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}
.custom-produkcziya__title-h2 {
    font-size: 22px;
    margin: 0;
    position: relative;
    width: fit-content;
}


.custom-produkcziya__posts {
    margin-bottom: 30px;
}
.custom-produkcziya__title__link {
    display: block;
    width: fit-content;
}

.acf-produkcziya__title {
    background: lightgrey;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
}
body .acf-produkcziya__title .acf-label {
    margin-bottom: 0;
}
.custom-produkcziya__item:hover {
    background: #e5e5e5;
}
.custom-produkcziya__item--status-draft {
    background: #ededed;
}
.custom-produkcziya__item td {
    border-bottom: 1px solid #c3c4c7;
}

.accordion__head {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
}
.accordion__head:not(.posts--empty):hover {
    background-color: #e5e5e5;
}

.custom-produkcziya__title-h2:before {
    content: '\25B6';
    position: absolute;
    right: -25px;
    top: 1px;
    font-size: 16px;
    transition: transform 0.3s;
}

.accordion__head.active .custom-produkcziya__title-h2:before {
    transform: rotate(90deg); /* Rotate to down-pointing triangle */
}

.accordion__content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top: none;
}

.accordion--lvl-2 {
    margin-left: 20px;
}

.accordion--lvl-3 {
    margin-left: 40px;
}
.accordion__head.posts--empty {
    cursor: auto;
}
.accordion__head.posts--empty .custom-produkcziya__title-h2:before {
    display: none;
}



td.image.column-image {
    width: 70px;
    padding: 5px;
}

.column-image__link {
    display: block;
    line-height: 0;
}


td.date.column-date {
    width: 150px;
}

.kp_main_acf-repeater .acf-field-post-object[data-name="product"] {
    position: unset;
    padding-bottom: 175px;

}
.kp_main_acf-repeater__product-item {
    display: flex;
    width: calc(100% - 92px);
    height: 130px;
    background: #fff;
    box-shadow: 0 0 4px 5px #f3f3f3;
    border-radius: 10px;
    position: absolute;
    z-index: 100;
    margin-top: 20px;
    padding: 5px;
    gap: 20px;
}
.kp_main_acf-repeater__product-item__img {
    display: flex;
    flex-shrink: 0;
    width: 170px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.kp_main_acf-repeater__product-item__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.kp_main_acf-repeater__product-item__info {
    margin-left: auto;
    font-size: 18px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    gap: 7px;
    flex-shrink: 0;
}

.kp_main_acf-repeater__product-item__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.kp_main_acf-repeater__product-item__title a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.kp_main_acf-repeater__product-item__info__top {
    display: none;
    /*display: flex;*/
    /*opacity: 0.2;*/
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: #787878;
    text-decoration: line-through;
    font-size: 18px;
}

.kp_main_acf-repeater__product-item__info__mid {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.kp_main_acf-repeater__product-item__info__bottom {
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.kp_main_acf-result-price .acf-input {
    text-align: center;
    font-weight: 800;
    font-size: 22px;
}
.kp_main_acf-result-price .acf-input .price-old {
    color: #787878;
    text-decoration: line-through;
}
.kp_main_acf-result-price .acf-input .price {
    color: #EB6025;
}


.kp_main_acf-repeater__product-item.is-loading {
    opacity: 0.4;
    background: #fffddb;
}
.kp_main_acf-repeater__product-item.is-price-old .kp_main_acf-repeater__product-item__info__top {
    display: flex;
    /*opacity: 1;*/
}



.kp__update {
    position: relative;
    width: fit-content;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.pdf_upd.kp.is-disabled,
.kp__wrap.is-disabled {
    opacity: 0.3;
    position: relative;
    pointer-events: none;
}
.pdf_upd.kp.is-disabled:before,
.kp__wrap.is-disabled:before {
    content: '';
    display: block;
    width: calc(100% + 24px);
    left: -12px;
    height: calc(100% + 24px);
    top: -12px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.kp_pdf.kp_pdf--delay {
    pointer-events: none;
    opacity: 0.3;
    position: relative;
}
.kp_pdf.kp_pdf--delay:before {
    content: '';
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    left: -10px;
    top: -10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kp_pdf.kp_pdf--delay:after {
    background: url(../../../../wp-admin/images/spinner.gif) no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
#publishing-action {
    display:none;
}
.kp_pdf-gen-hidden,
.publish_kp_add-hidden {
    display: none!important;
}


.kp-order__link_to_kp {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}
.kp-order__link_to_kp .name {
    font-weight: 700;
}
